[Desktop Entry]
Version=1.0
Type=Service

ServiceTypes=KonqPopupMenu/Plugin

MimeType=image/jpeg;image/x-canon-cr2;

Actions=convert-files;
X-KDE-Priority=TopLevel
X-KDE-Submenu=RAW

Icon=luna

Encoding=UTF-8
Name=Работа с конкретными изображениями

[Desktop Action convert-files]
Exec=konsole -e d3-converter %F --force --verbose --wb=camera
Name[ru]=Конвертировать файлы (ББ камеры)
Name=Convert files (camera WB)
Comment[ru]=Конвертировать выбранные файлы в TIFF


