[Desktop Entry]
Version=1.0
Type=Service

ServiceTypes=KonqPopupMenu/Plugin

MimeType=image/jpeg;image/x-canon-cr2;

Actions=convert-file;
X-KDE-Priority=TopLevel
X-KDE-Submenu=RAW

Icon=luna

Encoding=UTF-8
Name=Работа с конкретными изображениями

[Desktop Action convert-file]
Exec=konsole --hold -e d3-converter %F --force --verbose --wb=camera
Name[ru]=Конвертировать
Name=Convert this file (camera WB)
Comment[ru]=Конвертировать этот файл в TIFF


